.boards-page {
  padding: 20px;
  margin-top: 44px;
  width: 100%;

  p.warning {
    color: red;
    text-align: right;
    max-width: 100%;
    font-size: 0.8em;
    margin: 0;
  }
  h2 {
    font-weight: 700;
  }
  .filter-section {
    display: flex;
    height: 32px;
    justify-content: space-between;
    width: 100%;
    > * {
      cursor: pointer;
      height: 32px;
      border-radius: 3px;
      padding: 6px;
      border: none;
      box-shadow: inset 0 0 0 2px #dfe1e6;
      flex: 1;
      max-width: 200px;
      color: #172b4d;
      outline: 0;
      &:hover {
        background-color: #ebecf0;
        box-shadow: inset 0 0 0 2px #dfe1e6;
      }
      &:focus {
        background-color: #ffffff;
        box-shadow: inset 0 0 0 2px #0079bf;
      }
    }
  }
}
.board-list-title {
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  line-height: 30px;
  padding: 11px 0 0;
}

.board-list,
.board-star {
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-auto-rows: 120px;
  gap: 10px;
  grid-auto-flow: dense;

  li {
    cursor: pointer;
    background-color: #0000004d;
    border-radius: 3px;
    position: relative;
    transition: all 0.5;

    &:hover {
      background-color: #0006;
    }

    img {
      aspect-ratio: 2 / 1;
      height: 100%;
      object-fit: cover;
      mix-blend-mode: multiply;
      border-radius: 3px;
    }

    .board-background {
      height: 100%;
      width: 100%;
      border-radius: 3px;
      mix-blend-mode: multiply;
      border-radius: 3px;
      background-position: 50%;
      background-size: 100% 100%;
    }

    .board-title {
      position: absolute;
      top: 10px;
      left: 10px;
      color: $clr5;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0.062rem;
    }

    .unstar {
      &::before {
        font-family: Trello;
        content: "\e965";
        color: $clr5;
        position: absolute;
        bottom: 10px;
        right: 10px;
      }
    }
    .star {
      &::before {
        font-family: Trello;
        content: "\e966";
        color: gold;
        position: absolute;
        bottom: 10px;
        right: 10px;
      }
    }
  }
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.3s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
