.dashboard-page {
  padding: 30px 30px 0 30px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  min-height: 100vh;
  height: 100%;
  width: 100%;

  @include for-narrow-layout {
    padding: 30px 30px 0 40px;
  }

  .close {
    color: $clr5;
    position: absolute;
    top: 30px;
    right: 30px;
    span {
      cursor: pointer;
      position: relative;
      height: 25px;
      width: 25px;
      &::before {
        @include icon("\e91b", $clr5, 20px);
      }
    }
  }
  // height: 100%;
  flex-direction: column;

  // justify-content:center;
  .dashboard-header {
    h1 {
      font-weight: 800;
    }
  }

  .main-chart {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    > * {
      width: 360px;
    }

    margin-bottom: 30px;

    h4 {
      margin: 0;
      font-size: 20px;
      font-weight: 800;
    }

    .main-details {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .title {
        background-color: aliceblue;
        padding: 10px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 18px;
        font-weight: 500;

        h4 {
          margin-bottom: 10px;
          font-size: 20px;
        }
      }

      .top-box {
        gap: 10px;
        height: 25%;

        > * {
          width: 50%;
        }

        .number {
          flex-direction: column;
          align-items: center;
          gap: 7px;
          width: 50%;

          span:first-child {
            font-size: 40px;
            font-weight: 700;
          }

          span:last-child {
            margin-top: 7px;
          }
        }

        .member-box {
          position: relative;
          background-color: aliceblue;
          color: $clr2;
          padding: 10px;
          border-radius: 3px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          font-size: 18px;
          font-weight: 500;

          .member-icon {
            position: absolute;
            top: 50%;
            left: 75%;
            transform: translate(-50%);
            display: inline-block;

            span {
              position: relative;
              height: 70px;
              width: 70px;

              &::before {
                @include icon("\e950", $clr2, 68px);
              }
            }
          }
        }

        .activity-box {
          position: relative;
          background-color: aliceblue;
          color: $clr2;
          padding: 10px;
          border-radius: 3px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          font-size: 18px;
          font-weight: 500;

          .activity-details {
            position: absolute;
            top: 50%;
            left: 75%;
            transform: translate(-50%);
            display: inline-block;

            span {
              position: relative;
              height: 70px;
              width: 70px;

              &::before {
                @include icon("\e900", $clr2, 68px);
              }
            }
          }
        }
      }

      .bottom-box {
        gap: 10px;
        height: 25%;

        > * {
          width: 50%;
        }

        .number {
          flex-direction: column;
          align-items: center;
          gap: 7px;
          width: 50%;

          span:first-child {
            font-size: 40px;
            font-weight: 700;
          }

          span:last-child {
            margin-top: 7px;
          }
        }

        .card-box {
          position: relative;
          background-color: aliceblue;
          color: $clr2;
          padding: 10px;
          border-radius: 3px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          font-size: 18px;
          font-weight: 500;

          .card-info {
            display: flex;
            flex-direction: column;
            font-size: 12px;
            font-weight: 500;

            span:first-child {
              color: green;
            }

            span:nth-child(2) {
              color: red;
            }

            span:last-child {
              color: orange;
            }
          }
        }

        .checklist-box {
          position: relative;
          background-color: aliceblue;
          color: $clr2;
          padding: 10px;
          border-radius: 3px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          font-size: 18px;
          font-weight: 500;

          .checklist-info {
            display: flex;
            flex-direction: column;
            font-size: 12px;
            font-weight: 500;

            span:first-child {
              color: green;
            }

            span:nth-child(2) {
              color: red;
            }

            span:last-child {
              color: orange;
            }
          }
        }
      }
    }

    .graph {
      background-color: aliceblue;
      padding: 10px;
      border-radius: 3px;
    }
  }

  .members-charts {
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    grid-auto-rows: 500px;
    justify-content: center;
    gap: 20px;

    .member-card {
      border: 1px solid #091e4221;
      box-shadow: 0.7px 0.7px 0.5px 0.5px gray;
      background-color: #fff;
      padding: 20px;
      border-radius: 3px;

      .member-card-head {
        align-items: center;
        gap: 20px;
        margin-bottom: 10px;

        .member-card-title {
          .avater {
            flex-grow: 1;
          }

          h3 {
            margin: 0;
            font-weight: 700;
          }
        }
      }

      .member-card-info {
        gap: 10px;
        justify-content: space-between;
        align-items: center;

        > * {
          padding: 10px;
          border: 1px solid #091e4221;
          width: 50%;
          justify-content: center;
          border-radius: 3px;

          h4 {
            margin: 0;
          }
        }

        .card-count {
          flex-direction: column;
          text-align: center;

          span {
            font-size: 25px;
            color: $clr2;
            font-weight: bold;
          }
        }

        .activity-count {
          flex-direction: column;
          text-align: center;

          span {
            font-size: 25px;
            color: $clr2;
            font-weight: bold;
          }
        }
      }
      .member-card-chart {
        #line-chart {
          width: 370px;
          height: 290px;
          padding-right: 22px;
          padding-top: 10px;
        }
      }
    }
  }
}
