.card-description {
  display: flex;
  flex-direction: column;
  height: max-content;

  .title {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 0 4px 40px;
    padding: 8px 0;
    min-height: 32px;
    font-size: 20px;
    line-height: 20px;
    .icon {
      top: 8px;
      left: -40px;
      position: absolute;
      &::before {
        font-family: Trello;
        content: "\e921";
        font-size: 24px;
        font-weight: normal;
        // position: absolute;
        // top: 50%;
        // transform: translate(-130%, -50%);
      }
    }
  }

  .description {
    width: 100%;
    white-space: initial;
    // white-space: pre-wrap;
    padding: 8px 12px;
    margin: 0 0 8px 40px;
    height: max-content;
    width: calc(100% - 40px);
    > * {
      max-width: 100%;
    }
    h1,
    h2,
    h3 {
      margin: 0 0 6px 0;
      font-weight: 700;
    }
    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1.3em;
    }
    h3 {
      font-size: 1.1em;
    }
    p {
      margin: 0 0 18px 0;
      font-size: 1em;
    }
    a {
      color: #172b4d;
      text-decoration: underline;
    }
    span {
      &.bold {
        font-weight: 700;
      }
    }
    hr {
      height: 1px;
      background-color: gray;
    }
    section.gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 8px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50%;
        border-radius: 3px;
        transition: 0.5s;
        &:hover {
          transform: scale(102%);
        }
      }
    }
    section.grid {
      display: grid;
      > * {
        border-radius: 3px;
        padding: 4px;
      }
    }
    iframe {
      border: 0;
      border-radius: 3px;
    }
    table {
      margin: 6px 0 6px 0;
      border: solid 1px gray;
      text-align: center;
      tr {
        td {
          padding: 3px;
          border: solid 1px gray;
        }
      }
    }
  }

  textarea {
    background-color: #091e420a;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    display: block;
    min-height: 40px;
    box-sizing: content-box;
    padding: 8px 12px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
      Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    line-height: 20px;
    resize: none;
    transition: box-shadow 0.4s;
    margin: 0 0 8px 40px;
    // overflow: hidden;
    overflow-wrap: break-word;
    &:focus,
    &:active {
      background-color: #fff;
      box-shadow: inset 0 0 0 2px #0079bf;
      color: #172b4d;
    }
  }

  .controls {
    margin: 0 0 8px 40px;

    .save {
      margin-inline-end: 4px;
      background-color: #0079bf;
      color: #fff;
      align-items: center;
      border-radius: 3px;
    }
  }
}
